.wrapper {
    --padding-top-bottom: 9px;
    --padding-left-right: 5px;
    width: 100%;
    margin-top: 10px;
    padding: var(--padding-top-bottom) var(--padding-left-right);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}
.arrow {
    position: relative;
    &::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
    }
    &.top {
        &::before {
            top: calc(var(--padding-top-bottom) * -1);
            left: 50%;
            transform: translateX(-50%);
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid;
            border-bottom-color: rgb(255, 255, 255);
        }
    }
    &.bottom {
        &::before {
            bottom: calc(var(--padding-top-bottom) * -1);
            left: 50%;
            transform: translateX(-50%);
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid;
            border-top-color: rgb(255, 255, 255);
        }
    }
    &.left {
        &::before {
            left: -5px;
            bottom: 50%;
            transform: translateX(-50%) translateY(50%);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid;
            border-right-color: rgb(255, 255, 255);
        }
    }
    &.right {
        &::before {
            right: -14px;
            bottom: 50%;
            transform: translateX(-50%) translateY(50%);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid;
            border-left-color: rgb(255, 255, 255);
        }
    }
}
